<div class="sign form-container">

  
      {{#if errorMessage}}

       <p class="error_message">  {{errorMessage}}  </p>

        {{/if}}

  <div class="form-header">


      <h1 class="form-title">Start your SneakLove journey</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </div>
  <form action="/signup" method="POST" id="form_user">
    <div class="form-item-wrapper flexed-item">
      <label for="firstname" class="label-ref label">Name</label>
      <input type="text" name="firstname" class="input-text input" placeholder="Albert" value="firstname" required>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="lastname" class="label-ref label">Last Name</label>
      <input type="text" name="lastname" class="input-text input" placeholder="Biceps" required value="lastname">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input type="email" name="email" class="input-text input" placeholder="albert.biceps@gmail.com" value="email@email.com" required>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input type="password" name="password" class="input-text input" placeholder="••••••" value = "test" required>
    </div>
    <button class="button-primary white">Create Account</button>
  </form>
  <p class="form-sub-infos">Already have an account ? <a href="/login" class="button-link-form">Sign In</a></p>
 
</div>
